<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--import properties file-->
    <context:property-placeholder location="classpath:application.properties"/>
    <!--influxdbService-->
    <bean id="influxdbService"
          class="com.wangchuncheng.service.InfluxdbService">
        <property name="user" value="${datastore.userName}"/>
        <property name="password" value="${datastore.password}"/>
        <property name="url" value="${datastore.url}"/>
        <property name="batchNum" value="${datastore.batchNum}"/>
        <property name="retention" value="${datastore.retention}"/>
    </bean>
    <!--HomeDataDaoImpl-->
    <bean id="homeDataDao" class="com.wangchuncheng.dao.HomeDataDaoImpl">
        <property name="dbName" value="${datastore.dbName}"/>
        <property name="measurement" value="${datastore.measurement}"/>
    </bean>
    <!--mqttService-->
    <bean id="mqttService"
          class="com.wangchuncheng.service.MqttService"
          init-method="init">
        <property name="userName" value="${mqtt.userName}"/>
        <property name="password" value="${mqtt.password}"/>
        <property name="broker" value="${mqtt.brokerURL}"/>
        <property name="qos" value="${mqtt.qos}"/>
        <property name="subTopic" value="${mqtt.subTopic}"/>
        <property name="pubTopic" value="${mqtt.pubTopic}"/>
    </bean>
    <!--component scan-->
    <context:component-scan base-package="com.wangchuncheng"/>
</beans>